{#<footer class="section-footer border-top">#}
{#	<div class="container">#}
{#        <h6>About</h6>#}
{#            <p class="text-justify">Welcome to MIZDAV.UZ, where passion meets quality! We're more than just an online shop; we're a community of like-minded individuals who believe in the power of exceptional products. Our journey began with a simple idea: to provide curated collections of premium goods that enhance your lifestyle. From fashion-forward apparel to innovative gadgets, each item in our store is handpicked with care, ensuring that you receive only the best. Join us on this adventure and discover a world of style, functionality, and unparalleled customer service. Experience the difference with MIZDAV.UZ.</p>#}
{#		<section class="footer-bottom border-top row">#}
{#			<div class="col-md-2">#}
{#				<p class="text-muted"> &copy 2024 All Right Reserved </p>#}
{#			</div>#}
{#			<div class="col-md-8 text-md-center">#}
{#				<span  class="px-2">info@mizdav.uz_store.io</span>#}
{#				<span  class="px-2">+99871-255-07-07</span>#}
{#                <i class="fas fa-map-marker-alt">#}
{#                    <span  class="px-2">Uzbekistan,Tashkent, Amir Temur street 119</span>#}
{#                </i>#}
{#			</div>#}
{#			<div class="col-md-2 text-md-right text-muted">#}
{#				<i class="fab fa-lg fa-cc-visa"></i>#}
{#				<i class="fab fa-lg fa-cc-paypal"></i>#}
{#				<i class="fab fa-lg fa-cc-mastercard"></i>#}
{#			</div>#}
{#		</section>#}
{#	</div><!-- //container -->#}
{#</footer>#}
{% load static %}
<footer class="footer-section">

    <div class="copyright-area">
            <div class="container">
                <div class="footer-cta pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="cta-text">
                                    <span>Tashkent, Amir Temur street 119</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-phone"></i>
                                <div class="cta-text">
                                    <span>+99871 255-07-07</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="far fa-envelope-open"></i>
                                <div class="cta-text">
                                    <span>mail@info.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2024, All Right Reserved
                        </div>
                    </div>
                    <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="https://t.me/mizrobov_26"><i class="fab fa-telegram telegram-bg"></i></a>
                                <a href="https://www.instagram.com/mizrobov_a_m?igsh=aTcxZGVoZGJhbzBu"><i class="fab fa-instagram instagram-bg"></i></a>
                            </div>
                </div>
            </div>
    </div>
</footer>