<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2024 Ecommerce </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">info@ecommerce.io</span>
				<span  class="px-2">+99871-255-07-07</span>
				<span  class="px-2">Uzbekistan,Tashkent, Amir Temur street 119</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>